@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  width: 100dvw;
  overflow-x: hidden;
  height: 100%;
  background: #000;
  border-color: #3b3b3b;
  user-select: none;
}

body::-webkit-scrollbar {
  width: 10px; 
}

body::-webkit-scrollbar-track {
  background: #9a9a9a;
}


body::-webkit-scrollbar {
  width: 12px; 
}

body::-webkit-scrollbar-track {
  background: #d1d1d1; 
}

body::-webkit-scrollbar-thumb {
  background: #838383; 
  border-radius: 46px;
}






canvas {
  touch-action: none;
}
